.footer{
    background-color:black;
    position:fixed;
    left:0;
    bottom:0;
    right:0; 
    color:white;
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}
.footer a{
    text-decoration:none;
    color:white;
}
.footer a:hover{
    color: #777;
}
.api{
    padding: 1rem;
}
.copyright{
    padding: 1rem;
}